[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "private"]
	path = private
	url = git@github.com:felsenhower/dotfiles.private.git
[submodule "public/ohmyzsh"]
	path = public/ohmyzsh
	url = https://github.com/felsenhower/ohmyzsh.git
[submodule "public/kscreenlocker-auto-screen-off"]
	path = public/kscreenlocker-auto-screen-off
	url = https://github.com/felsenhower/kscreenlocker-auto-screen-off
[submodule "public/spack"]
	path = public/spack
	url = https://github.com/spack/spack
